table {
    width: 50%;
    background-color: #e7ffc5;
    border-collapse:collapse;border-width:3px;
    border-color:#336600;
    border-style:solid;
    color:#009900;
    margin-left: auto;
    margin-right: auto;
}

table td, table th {
    border-width:3px;
    border-color:#336600;
    border-style:solid;
    padding:3px;
}
th {
    font-size: 24px;
    font-weight: bold;
}

td {
    font-size: 19px;
    text-align: center;
}
table thead {
    background-color: #a9ff5d;
}

tr:nth-child(even) {
    background-color: #d3ffa0;
}
body {
    background-color: #FFFFFF;
}

h1 {
    text-align: center;
    color: #009900;
}

.btn {
    background: #336600;
    background-image: -webkit-linear-gradient(top, #336600, #009900);
    background-image: -moz-linear-gradient(top, #336600, #009900);
    background-image: -ms-linear-gradient(top, #336600, #009900);
    background-image: -o-linear-gradient(top, #336600, #009900);
    background-image: linear-gradient(to bottom, #336600, #009900);
    text-shadow: 1px 1px 3px #000000;
    -webkit-box-shadow: 0px 1px 3px #666666;
    -moz-box-shadow: 0px 1px 3px #666666;
    box-shadow: 0px 1px 3px #666666;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 5px;
    text-decoration: none;
    width: 200px;
    text-align: center;
}

.btn:hover {
    background: #116e09;
    text-decoration: none;
}

div {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}